---
import Section from "../Section.astro";

import { awards } from "@cv";
---

<Section className={Astro.props.className} title="Awards">
  <ul class="space-y-4 print:space-y-0">
    {
      awards.map(({ title, summary, date, awarder }) => {
        const year = new Date(date).getUTCFullYear();

        return (
          <div class="relative w-full items-baseline justify-between gap-2">
            <h3 class="mr-6 flex items-center gap-x-2 gap-y-0.5 fill-skin-hue font-medium">
              {title}
            </h3>
            <p class="text-sm text-skin-muted">{summary}</p>
            <h4 class="mr-6 flex items-baseline gap-x-2 gap-y-0.5 font-medium">
              {awarder}
            </h4>
            <time class="right-0 top-0 text-xs text-skin-muted md:absolute md:block">
              {year}
            </time>
          </div>
        );
      })
    }
  </ul>
</Section>
