---
import Section from "../Section.astro";

import { awards } from "@cv";
---

<Section className={Astro.props.className} title="Awards">
  <ul class="space-y-4 print:space-y-0">
    {
      awards.map(({ title, summary, date, awarder }) => {
        const year = new Date(date).getUTCFullYear();

        return (
          <div class="relative grid w-full gap-1">
            <h3 class="mr-6 flex items-center gap-x-2 gap-y-0.5 fill-skin-hue text-xl font-medium">
              {title}
            </h3>
            <p class="mr-6 flex items-baseline gap-x-2 gap-y-0.5 text-skin-base">
              {awarder}
            </p>
            <p class="mr-6 text-sm text-skin-muted">{summary}</p>
            <time class="right-0 top-0 text-xs text-skin-muted md:absolute md:block">
              {year}
            </time>
          </div>
        );
      })
    }
  </ul>
</Section>
